
h1 {
color: red;
font-weight: bold;
text-align:center;
}
caption {
 color: blue;
 }
th {
 background-color:grey;
 font-weight: bold;
 text-align:center;
}
table {
    border: black solid 1px;
    text-align:center;
    border-collapse: collapse;
    margin: auto;
}
td, th {
    border: black solid 1px;
}
